@model IEnumerable<BarterPlatform.Models.Employee>

@{
    ViewData["Title"] = "員工名錄";
    Layout = "_LayoutRearEnd";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info btn-sm">註冊員工</a>
</p>
<table class="table table-striped">
    @* <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminRegion_AdmID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District_DisID)
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
        @foreach (var item in Model)
        {
            <div class="card mb-3" *@>
                <div class="row g-0">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="card-body" style="display: grid; grid-template-columns: repeat(3, 1fr);">
                                <h5 class="card-title" id="nametitle">@Html.DisplayFor(modelItem => item.PersonalName)</h5>
                                <p class="card-text"><span class="card-text-out">暱稱：</span><span class="card-text-in">@Html.DisplayFor(modelItem => item.Nickname)</span></p>
                                <p class="card-text"><span class="card-text-out">性別： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.Gender)</span></p>
                                <p class="card-text"><span class="card-text-out">生日： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.FormattedBirthDate)</span></p>
                                <p class="card-text"><span class="card-text-out">郵遞區號： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.PostalCode)</span></p>
                                <p class="card-text"><span class="card-text-out">行政區： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.AdminRegion_Adm.AdminRegion)</span></p>
                                <p class="card-text"><span class="card-text-out">鄉鎮市區： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.District_Dis.DistrictName)</span></p>
                                <p class="card-text"><span class="card-text-out">其他地址： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.OtherAddress)</span></p>
                                <p class="card-text"><span class="card-text-out">帳號： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.Username)</span></p>
                                <p class="card-text"><span class="card-text-out">密碼： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.Password)</span></p>
                                <p class="card-text"><span class="card-text-out">電子信箱： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.Email)</span></p>
                                <p class="card-text"><span class="card-text-out">電話： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.Phone)</span></p>
                                <p class="card-text"><span class="card-text-out">身分證字號： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.NationalID)</span></p>
                                <p class="card-text"><span class="card-text-out">入職時間： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.HireDate)</span></p>
                                <p class="card-text"><span class="card-text-out">離職時間： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.TermDate)</span></p>
                                <p class="card-text"><span class="card-text-out">薪資： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.Salary)</span></p>
                                <p class="card-text"><span class="card-text-out">在職狀態： </span><span class="card-text-in">@Html.DisplayFor(modelItem => item.Status)</span></p>
                            </div>
                        </div>

                        <div class="col-md-1 d-flex justify-content-center align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <a asp-action="Edit" asp-route-id="@item.EmpID" class="btn btn-outline-success btn-sm mb-2">編輯</a>
                                <br>
                                <form asp-controller="Members" asp-action="Delete" method="post" onsubmit="return confirmTwoTimes('@item.PersonalName')">
                                    <input type="hidden" name="id" id="id" value="@item.EmpID" />
                                    <input type="submit" value="刪除" class="btn btn-outline-danger btn-sm" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>


<script>
    function confirmTwoTimes(personalName) {
        // 第一次確認
        var firstConfirmation = confirm('你確定要刪除 ' + personalName + ' 的資料嗎?');

        // 如果用戶確認，則提示第二次確認
        if (firstConfirmation) {
            var secondConfirmation = confirm('你真的確定要刪除 ' + personalName + ' 的資料嗎?');
            return secondConfirmation; // 如果第二次確認，返回結果
        } else {
            return false; // 如果第一次確認取消，則不提交表單
        }
    }
</script>
